{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %}
		<main class="form-wrapper">
			<div class="form-card">
				<div class="form-header">
					<h2>Welcome Back</h2>
					<p>Log in to access your loan default prediction dashboard</p>
				</div>
				<form method="post">
					<label>Email Address</label>
					<input type="email" placeholder="your@email.com" required />

					<div class="password-field">
						<label>Password</label>
						<a href="#" class="forgot-link">Forgot password?</a>
					</div>
					<input type="password" placeholder="••••••••" required />

					<button type="submit" class="btn btn-primary">Sign In</button>
					<p class="form-footer">
						Don’t have an account? <a href="/signup/">Register now</a>
					</p>
				</form>
			</div>
		</main>
{% endblock %}
